<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.1.0" />
  <package id="Castle.Windsor" version="3.1.0" />
  <package id="Iesi.Collections" version="3.3.2.4000" targetFramework="net40-Client" allowedVersions="[3.2,4.0)" />
  <package id="NHibernate" version="3.3.2.4000" targetFramework="net40-Client" />
</packages>