<?xml version='1.0' encoding='windows-1252'?>
<?define RequiredClrVersion = 2.0.50727?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'
	xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'
	xmlns:iis='http://schemas.microsoft.com/wix/IIsExtension'
	xmlns:msmq='http://schemas.microsoft.com/wix/MsmqExtension'
	xmlns:sql='http://schemas.microsoft.com/wix/SqlExtension'>
	<Product Name='Sprocket' Id='*'
					 Language='1033' Codepage='1252' Version='$(var.ProductVersion)' Manufacturer='Software Projects Pty Ltd'
					 UpgradeCode='ce46e1c4-dd2c-45f2-ac6c-89a4cbd20748'>
		<Package Keywords='Installer'
			Description="Sprocket $(var.ProductVersion)"
			Comments='Version $(var.ProductVersion).' Manufacturer='Software Projects Pty Ltd'
			InstallerVersion='200' Languages='1033' Compressed='yes' SummaryCodepage='1252' />
		<Media Id='1' Cabinet='sprocket.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />
		<Property Id='DiskPrompt' Value="Sprocket [1]" />
		<Upgrade Id="ce46e1c4-dd2c-45f2-ac6c-89a4cbd20748">
			<UpgradeVersion Property="OLDERPRODUCTFOUND" IncludeMinimum="yes" Minimum="0.0.0" IncludeMaximum="no" Maximum="$(var.ProductVersion)"/>
			<UpgradeVersion Property="NEWERPRODUCTFOUND" IncludeMinimum="yes" Minimum="$(var.ProductVersion)" OnlyDetect="yes"/>
		</Upgrade>

		<Property Id="NEWERPRODUCTFOUND" Secure="yes" />
		<Property Id="OLDERPRODUCTFOUND" Secure="yes" />

		<Condition Message="This setup requires the .NET Framework version $(var.RequiredClrVersion). Please install the .NET Framework and run this setup again."><![CDATA[Installed or MsiNetAssemblySupport>="$(var.RequiredClrVersion)"]]></Condition>
		<CustomAction Id="NewerProductFound" Error="A newer version of this product is already installed."/>

		<!-- finds the root directory for .NET frameworks -->
		<Property Id="FRAMEWORKROOT">
			<RegistrySearch Id="Framework20Registry" Type="raw" Root="HKLM" Key="Software\Microsoft\.NETFramework" Name="InstallRoot"/>
		</Property>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Id="INSTALLDIR" Name="Sprocket">
					<Directory Id="D.Bin" Name="Bin" FileSource="..\..\Bin">
						<Component Id="Castle.Core.dll" Guid="*">
							<File Id="Castle.Core.dll" KeyPath="yes"/>
						</Component>
						<Component Id="Castle.Windsor.dll" Guid="*">
							<File Id="Castle.Windsor.dll" KeyPath="yes" />
						</Component>
						<Component Id="Common.Logging.dll" Guid="*">
							<File Id="Common.Logging.dll" KeyPath="yes"/>
						</Component>
						<Component Id="Common.Logging.Log4net.dll" Guid="*">
							<File Id="Common.Logging.Log4net.dll" KeyPath="yes"/>
						</Component>
						<Component Id="ComponentFactory.Krypton.Toolkit.dll" Guid="*">
							<File Id="ComponentFactory.Krypton.Toolkit.dll" KeyPath="yes"/>
						</Component>
						<Component Id="log4net.dll" Guid="*">
							<File Id="log4net.dll" KeyPath="yes"/>
						</Component>
						<Component Id="Microsoft.Practices.ServiceLocation.dll" Guid="*">
							<File Id="Microsoft.Practices.ServiceLocation.dll" KeyPath="yes"/>
						</Component>
						<Component Id="Quokka.Castle.dll" Guid="*">
							<File Id="Quokka.Castle.dll" KeyPath="yes"/>
						</Component>
						<Component Id="Quokka.Core.dll" Guid="*">
							<File Id="Quokka.Core.dll" KeyPath="yes"/>
						</Component>
						<Component Id="Quokka.Krypton.dll" Guid="*">
							<File Id="Quokka.Krypton.dll" KeyPath="yes"/>
						</Component>
						<Component Id="Quokka.WinForms.dll" Guid="*">
							<File Id="Quokka.WinForms.dll" KeyPath="yes"/>
						</Component>
						<Component Id="Sprocket.Manager.exe" Guid="*">
							<File Id="Sprocket.Manager.exe" KeyPath="yes"/>
						</Component>
						<Component Id="Sprocket.Manager.exe.config" Guid="*">
							<File Id="Sprocket.Manager.exe.config" KeyPath="yes"/>
						</Component>
						<Component Id="Sprocket.Server.exe" Guid="*">
							<File Id="Sprocket.Server.exe" KeyPath="yes"/>
							<ServiceInstall Id="Sprocket.Server.ServiceInstall"
											Name="Sprocket.Server"
											Description="Sprocket Service Broker."
											DisplayName="Sprocket Server"
											ErrorControl="normal"
											EraseDescription="no"
											Start="auto"
											Type="ownProcess"
											Vital="yes">
							</ServiceInstall>
							<ServiceControl Id="Sprocket.Server.ServiceControl" Start="install" Stop="both" Remove="uninstall"
															Name="Sprocket.Server" Wait="yes"/>
							<util:EventSource Name="Sprocket.Server"
												 Log="Application"
												 EventMessageFile="[WindowsFolder]Microsoft.NET\Framework\v$(var.RequiredClrVersion)\EventLogMessages.dll"
												 SupportsErrors="yes"
												 SupportsWarnings="yes"
												 SupportsInformationals="yes"/>
						</Component>
						<Component Id="Sprocket.Server.exe.config" Guid="*">
							<File Id="Sprocket.Server.exe.config" KeyPath="yes"/>
						</Component>
						<Component Id="Sprocket.Server.log4net.config" Guid="*">
							<File Id="Sprocket.Server.log4net.config" KeyPath="yes"/>
						</Component>
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="DesktopFolder" SourceName="Desktop"/>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ShortcutFolder" Name="Sprocket">
					<Component Id="UninstallShortcutComponent" Guid="*">
						<RegistryKey Root="HKCU" Key="Software\Sprocket\KeyPaths\UninstallShortcut">
							<RegistryValue Value="Key path for uninstall shortcut" Type="string" KeyPath="yes"/>
						</RegistryKey>
						<Shortcut Id="UninstallProduct" Name="Uninstall Sprocket" Target="[System64Folder]msiexec.exe"
										Arguments="/x [ProductCode]" Directory="ShortcutFolder"
										Description="Uninstalls Sprocket" />
						<RemoveFolder Id="RemoveShortcutFolder" On="uninstall"/>
					</Component>

					<Component Id="Sprocket.Manager.Shortcut" Guid="*">
						<RegistryKey Root="HKCU" Key="Software\Sprocket\KeyPaths\Sprocket.Manager.Shortcut">
							<RegistryValue Value="Key path for Sprocket.Manager shortcut" Type="string" KeyPath="yes" />
						</RegistryKey>
						<Shortcut Id="Sprocket.Manager.lnk" Directory="ShortcutFolder" Name="Sprocket Manager"
							Target="[#Sprocket.Manager.exe]" WorkingDirectory="D.Bin" Icon="Sprocket.AppIcon.exe" />
					</Component>

				</Directory>
			</Directory>
		</Directory>

		<ComponentGroup Id="BinComponents">
			<ComponentRef Id="Castle.Core.dll"/>
			<ComponentRef Id="Castle.Windsor.dll"/>
			<ComponentRef Id="Common.Logging.dll"/>
			<ComponentRef Id="Common.Logging.Log4net.dll"/>
			<ComponentRef Id="ComponentFactory.Krypton.Toolkit.dll"/>
			<ComponentRef Id="log4net.dll"/>
			<ComponentRef Id="Microsoft.Practices.ServiceLocation.dll"/>
			<ComponentRef Id="Quokka.Castle.dll"/>
			<ComponentRef Id="Quokka.Core.dll"/>
			<ComponentRef Id="Quokka.Krypton.dll"/>
			<ComponentRef Id="Quokka.WinForms.dll"/>
			<ComponentRef Id="Sprocket.Manager.exe"/>
			<ComponentRef Id="Sprocket.Manager.exe.config"/>
			<ComponentRef Id="Sprocket.Server.exe"/>
			<ComponentRef Id="Sprocket.Server.exe.config"/>
			<ComponentRef Id="Sprocket.Server.log4net.config"/>
		</ComponentGroup>

		<Feature Id="DefaultFeature" Level="1">
			<ComponentGroupRef Id="BinComponents"/>
			<ComponentRef Id="UninstallShortcutComponent"/>
			<ComponentRef Id="Sprocket.Manager.Shortcut"/>
		</Feature>
		<InstallExecuteSequence>
			<Custom Action="NewerProductFound" After="FindRelatedProducts">NEWERPRODUCTFOUND</Custom>
			<RemoveExistingProducts After="InstallInitialize">OLDERPRODUCTFOUND</RemoveExistingProducts>
		</InstallExecuteSequence>
		<InstallUISequence>
			<Custom Action="NewerProductFound" After="FindRelatedProducts">NEWERPRODUCTFOUND</Custom>
		</InstallUISequence>
		<UIRef Id="SprocketUI"/>
		<Icon Id="Sprocket.AppIcon.exe" SourceFile="Sprocket.AppIcon.exe" />
	</Product>
</Wix>
